fastapi
uvicorn[standard]
python-dotenv
python-multipart
pydantic
langchain
langchain-core
langchain-classic
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-chroma
chromadb
docx2txt
pypdf
unstructured
